.create-note{
    position: relative;
    width: 480px;
    margin: 30px auto 30px auto;
    background: #ce6b6b;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.textarea{
    width: 100%;
    border: none;
    padding: 3px;
    outline: none;
    font-size: 300%;
    font-family: inherit;
    resize: none;
    font-style: italic;
    background: #abc89a;
}

.title{
    width: 100%;
    border: none;
    padding: 3px;
    height: 50%;
    font-size: x-large;
    font-style: italic;
    
}
/* .create-area {
    background-color: aqua;
} */